<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failure</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: system-ui;
            background-size: cover;
            background-position: center;
            background-color: #17153B;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
            text-align: center;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login Failed</h1>
        <p>Your username or password is incorrect. Please try again.</p>
        <a href="/" action="/back" method="post" class="button">Back to Login</a>
    </div>
</body>
</html>
